<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded Data</title>
</head>
<body>
    <h1>Uploaded Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Company Name</th>
                <th>Device Name</th>
                <th>Sim Name</th>
                <th>Sim Number</th>
                <th>Sim Location</th>
                <th>Password</th>
                <th>Balance</th>
                <th>Sim Type</th>
                <th>Sim Status</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                    <td>{{ row[8] }}</td>
                    <td>{{ row[9] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
